#hero-banner {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px; 
    box-sizing: border-box;
 }

#hero-banner .carousel {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px; 
    display: flex;
    align-items: center;
    justify-content: center;
}


#hero-banner .carousel img {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}

/* Responsive Adjustments */
@media (max-width: 678px) {
    #hero-banner {
        height: 75vh; 
        padding: 10px;
    }
    
};

/* @media (max-width: 440px) {
    #hero-banner {
        height: 75vh; 
        padding: 10px;
    };

    #hero-banner .carousel{
        height: 100%;
    }
    
} */