
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#top-strip {
    background-color: #f4f4f4;
    text-align: center;
    padding: 10px 0;
    font-size: 0.9rem;
    color: #333;
    font-weight: bold;
}

#user-actions {
    display: flex;
    align-items: center;
    gap: 15px;
}

#user-actions img{
    width:1.5rem;
    cursor: pointer;
}


#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    flex-wrap: wrap; 
    position: relative;
}

#search {
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 2px solid black; 
}

#menu {
    display: flex;
    gap: 20px;
}

#menu a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-size: 1.1rem;
   
}

/* #menu-dropdown{
    display: none;
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
} */

#menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

#search img {
    height: 1.5rem; 
    width: auto;
}

#search-bar {
    border: none; 
    outline: none; 
    flex: 1; 
    font-size: 1rem;
    width: 200px;
    padding: 0.5rem 0;
}


/* Logo section */
#logo {
    display: flex;
    align-items: center; 
    gap: 2rem; 
    flex-shrink: 0;
}



@media (max-width: 768px) {
    /* Navbar Layout */
    #navbar {
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 5px;
    }

    
    .navbar-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        /* padding: 5px 15px; */
    }

    #logo {
        text-align: left;
    }

    #user-actions {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 8px;
    }

    /* Second Row: Full-width Search Bar */
    #search {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
    }

    #search-bar {
        width: 90%;
        padding: 8px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    /* Third Row: Menu Links in One Row, Centered */
    #menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        gap: 5px;
        margin-top: 10px;
    }

    #menu a {
        padding: 2px;
        font-size: 1rem;
        text-decoration: none;
        color: black;
    }
}

@media screen and (max-width: 430px) {
    /* Adjustments for smaller screens */
    #search {
        width: 60%;
    }

    #search-bar {
        width: 80%;
    }

    #menu a {
        padding: 2px;
        font-size: 0.9rem;
    }
}






